**Seth Able's Node Data System, for node 1
BBSNAME Your BBS Name
BBSTYPE DOORSYS
COMPORT 1
LOCKBAUD 38400
STATUS OFF
STATFORE 3
STATBACK 7
;COLOR1
;NODIRECT
;UNUSED
BBSDROP C:\NODE1\
;UNUSED
;UNUSED
;UNUSED
